test-script
*.DS_Store
build.sh
run.sh
torch_models.config
torch_source_adpter.config
node_modules
/bazel-bin
/bazel-ci_build-cache
/bazel-genfiles
/bazel-out
/bazel-serving
/bazel-tensorflow
/bazel-tensorflow_serving
/bazel-tensorflow-serving
/bazel-testlogs
/bazel-tf
/bazel-workspace
/third_party/py/numpy/numpy_include
/util/python/python_include
/util/python/python_lib
